* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
}

:root {
    /* color palette */
    --main-color: #042940;
    --background-color: #005C53;
    --font-color: #D6D58E;
    --font-color-link: #DBF227;
}

::selection {
    background: #DBF227;
    color: #005C53;
}

html, body {
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: #005C53;
    background-position: center center;
    background-repeat: no-repeat;
}

.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 25vh;
    width: 100%;
    background: var(--main-color) url(../img/background-header.png);
    border-bottom: 2px solid #DBF227;
}

.background-transparent {
    background: #042940f0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.titulo-logo {
    color: var(--font-color-link);
    letter-spacing: 1.9px;
    font-size: 1.9rem; 
    text-align: center;  
    text-transform: uppercase;
}

.area-de-navegacao {
    display: flex;
    gap: 40px;
}

.navBtn {
    font-family: inherit;
    background-color: transparent;
    color: var(--font-color);
    padding: 10px;
    cursor: pointer;
    transition: .2s;
    text-transform: uppercase;
}

.navBtn:hover {
    background: #DBF227;
    color: #042940;
}

.content {
    transform: scale(.9);
    background: #042940;
    width: 90vw;
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border: 2px solid #DBF227;
}

.figura {
    background: rgba(255, 0, 0, 0.538);
    display: none;
    padding: 10px;
}

.h2-tipo-de-figura {
    text-align: center;
    color: #DBF227;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    align-self: center;
}

.entrada-de-dados {
    align-self: center;
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    color: #D6D58E;
    font-size: 1.1rem;
    text-align: center;
}

input, select {
    border: 2px solid transparent;
    outline: 2px solid white;
}

/* area de seleção da figura */

.figura-selecionada {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 50px;
    padding: 15px;
    border-bottom: 2px solid #DBF227;
}

/* area de dados sobre a figura */

.dados-necessarios {
    padding: 15px;
    margin: 10px 0px;
    border-bottom: 2px solid #DBF227;
}

.input-dado::placeholder {
    color: rgba(0, 0, 0, 0.59);
    font-weight: bold;
}

.input-dado {
    padding: 3px;
}

input:focus, select:focus {
    border: 2px solid #005C53;
    outline: 2px solid white;
}

/* area do resultado do calculo de area da figura */


.butao-submit {
    border: 3px solid #DBF227;
    background: #005C53;
    padding: 10px;
    color: #DBF227;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
    width: 100%;
    max-width: 700px;
    align-self: center;
    cursor: pointer;
    transition: background .2s;
}

.butao-submit:hover {
    background: #DBF227;
    color: #005C53;
}

.container-resultado {
    border: 1px solid #DBF227;
    background: #005C53;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 700px;
    width: 100%;
    margin: auto;
}

.h3-resultado {
    color: #042940;
    background: #DBF227;
    padding: .5rem;
    font-size: 2rem;
    margin: 5px 0px;
}

.resultado {
    background: #042940;
    padding: .5rem;
    color: #D6D58E;
    letter-spacing: .2rem;
    font-size: 1.4rem;
    margin: 5px 0px;
}

/* ESTE É O TEMPLATE PADRÃO QUE APARECERÁ CASO O USUÁRIO NÃO SELECIONE UM TIPO DE CALCULADORA. APARECERÁ NA DIV.CONTENT */

.template-padrao {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.template-padrao>p {
    color: var(--font-color);
    font-size: 1.5rem;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
}

/* FIGURAS NÃO PLANAS */

.figuras-nao-planas {
    display: none;
    height: 300px;
    width: 100%;
}

.figuras-nao-planas>p {
    color: var(--font-color);
    font-size: 2rem;
    text-align: center;
    line-height: 300px;
}

.ligado {
    background: rgba(255, 0, 0, 0.6);
    color: #D6D58E;
}

/* template de dados */
.template-dados {
    color: #DBF227;
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
    background-color: #005C53;
    width: 100%;
}

.quadrado, .triangulo, .retangulo, .hexagono, .circulo {
    display: none;
}

.container-template {
    display: flex;
    justify-content: space-around;
}

.retangulo {
    margin-top: -20px;
}

.retangulo > .container-template {
    transform: scale(.9);
    flex-direction: column;
    gap: 5px;
}
.resultado>.container-resultado>label {
    display: block;
    text-align: start;
}

#area {display: none;
    background: #DBF227;
    color: #005C53;
    padding: 3px;
}

@media (max-width: 700px) {
    .header {
        height: 110px;
    }
    .titulo-logo {
        font-size: 1.3rem;
    }
    .figuras-nao-planas>p {
        font-size: 1.5rem;
    }
}